* {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

header {
  font-size: 3em;
  font-weight: 600;
  position: relative;
  top: 20px;
  margin-bottom: -63px;
}

html, body, table, tr, iframe {
  height: 100%;
}

table {
  width: 100%;
}
