body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

#game-wrapper {
  margin-bottom: -4px;
  position: relative;
  height: 100%;
  width: 100%;
}

#player {
  position: absolute;
}
