html, body {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 84%;
	position: relative;
	margin: 0px auto;
}

#input, #messages {
	width: 100%;
}

html, body {
	height: 100%;
}

.line {
	width: 100%;
	vertical-align: top;
}
td {
	width: 30%;
}
.user {
	text-align: left;
}
.msg {
	text-align: center;
	word-break: keep-all;
}
.time {
	text-align: right;
}

* {
	font-family: "Courier New", Monospace;
}

h1 {
	padding-top: 20px;
	text-align: center;
}

#msg-box {
	height: 1.6em;
	padding: 3px 0px 3px 0px;
	font-size: 1.5em;
	width: 100%;
}

#msg-box-outer {
	width: 93%;
}

#submit-button {
	padding: 3px 0px 3px 0px;
	cursor: pointer;
	width: 7%;
	background-color: #f8c7a6; /* My Ode to Fate */
}