html, body {
	width: 100%;
	overflow-x: hidden;
}

#messages {
	width: 84%;
	position: relative;
	margin: 0px auto;
}

html, body {
	height: 99%;
}

tr {
	width: 100%;
}
td {
	width: 30%;
}
.user {
	text-align: left;
}
.msg {
	text-align: center;
	word-break: keep-all;
}
.time {
	text-align: right;
}

* {
	font-family: "Courier New", Monospace;
}

h1 {
	text-align: center;
}

#msg-box {
	height: 1.5em;
	padding: 3px, 0px, 3px, 0px;
	font-size: 1.5em;
}

#msg-box-outer {
	width: 93%;
}

#submit {
	height: 1.5em;
	padding: 3px, 0px, 3px, 0px;
	cursor: pointer;
	width: 7%;
	background-color: #f8c7a6; /* My Ode to Fate */
}