body {
  background-color: #111;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
.loading > div {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: alpha 3.75s linear infinite normal forwards;
  background: rgba(231, 76, 60, 0.75);
}
.loading > div:nth-child(1) {
  top: -50%;
  left: -50%;
}
.loading > div:nth-child(2) {
  top: -50%;
  right: -50%;
}
.loading > div:nth-child(3) {
  bottom: -50%;
  right: -50%;
}
.loading > div:nth-child(4) {
  bottom: -50%;
  left: -50%;
}

@keyframes alpha {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    background: rgba(255, 217, 0, 0.75);
  }
  25% {
    background: rgba(245, 94, 40, 0.75);
  }
  50% {
    border-radius: 50%;
    background: rgba(184, 0, 255, 0.75);
  }
  75% {
    background: rgba(12, 138, 232, 0.75);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    background: rgba(59, 189, 71, 0.75);
  }
}
