* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #000;
    padding: 0;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
    font-family: "Jockey One", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#overlay {
    content: "";
    background-image: radial-gradient(top, ellipse cover, rgba(0, 0, 0, 0) 60%, #00001C 95%);
    background-image: -webkit-radial-gradient(top, ellipse cover, rgba(0, 0, 0, 0) 60%, #00001C 95%);
    background-image: -moz-radial-gradient(top, ellipse cover, rgba(0, 0, 0, 0) 60%, #00001C 95%);
    background-image: -o-radial-gradient(top, ellipse cover, rgba(0, 0, 0, 0) 60%, #00001C 95%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: 1000;
    pointer-events: none;
}

a {
    color: #b20;
}

canvas {
    cursor: crosshair;
}

.click {
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.click:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

#pause-icon {
    color: #ddd;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    font-size: 8em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    display: none;
}

#keywords {display: none;}
.ship {color:#6E83FF; text-shadow: 0 0 2px #6E83FF, 0 0px 10px #6E83FF;}
.upgrade {color:#8FFF00; text-shadow: 0 0 2px #8FFF00, 0 0px 10px #8FFF00;}
.sel {color:#8FFF00;}

#code-form, .input {color:white; font-size:30px;}
.input {background-color:black; font-family:"Jockey One";}
#submit-code {position:relative; height:50px; bottom:5px; font-size:16px; font-family:"Jockey One"; }

span, li {text-shadow: 0 0 2px white, 0 0px 10px white; letter-spacing:0.05em; -ms-user-select: none; user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; font-size:150%;  }
li::marker {text-align: right}
#hud {position:absolute; z-index:999; top:10px; right:15px; opacity:0.5;}
#gold {position:absolute; z-index:999; top:10px; left:15px; color: #FFE100; opacity:0.95;}
#news {position:absolute; z-index:999; top:10px; width: 100%; text-align: right; right: 15px; cursor: default; color: green;}
#panel1, #panel2, #shop_panel, #leaderboard {position:absolute; z-index:999; top:50%; left:0px; width:100%; text-align:center; color:white; font-size:30px;}
#panel1 {margin-top:-190px; line-height:220%;}
#panel2, #shop_panel {margin-top:-190px; line-height:200%; display:none}
#shop_panel > table {margin:0px auto;}
#omlogo {font-size:500%; letter-spacing:0px; opacity:0.95; cursor:default; z-index:1005;}
#start {font-size:300%;}
#options {font-size:150%;}
#score  {position:absolute; top:10px; width:100%; text-align:center; font-size:250%; color:white; z-index:999; cursor:default; opacity:0.95;}
#leaderboard {position: absolute; margin: 0px auto; display: none; top: 140px;}
#list {text-align: left; position: relative; left:40%;}
#show_leaderboard, #lb_error {display:none;}
#player {position:absolute; top:-100px; left:-100px }
#musicplayer {position:absolute; left:0; top:0; display:none}

.opentip-container {
  z-index: 107;
}

#achiev-map {
    font-family: Courier;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-color: #20202E;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    opacity: 0.95;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    margin: auto;
    z-index: 1006;
}

#achiev-map > table {
    margin: 50px;
    width: 90%;
    height: 90%;
}

#achiev-map > table > tbody > tr > td {
    text-align: center;
}

#achiev-map > table > tbody > tr > td > img {
    display: block;
    width: 50%;
    height: auto;
    position: relative;
    margin: auto;
}

#achiev-map.hidden {
    width: 0;
    height: 0;
    font-size: 0;
}

#achiev-map.hidden > table > tbody > tr > td > img {
    width: 0;
    height: 0;
}

#achiev-map.expanded {
    width: 95%;
    height: 95%;
    font-size: initial;
}

#achiev-map > #close_map {
    position: absolute;
    right: 26px;
    top: 20px;
    font-size: 30px;
    display: none;
}

/* --- MOBILE --- */

.mobile-button {
    position: absolute;
    z-index: 99999999;
    bottom: 15px;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size: 300px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}




